
# --- Core Frameworks ---
streamlit==1.49.1

# --- LangChain Core Packages ---
langchain==0.3.7
langchain-core==0.3.19       
langchain-community==0.4.1
langchain-classic==1.0.0
langchain-text-splitters==0.3.8

# --- Integrations ---
langchain-openai==1.0.2
langchain-groq==1.1.1
langchainhub==0.1.21



# --- Machine Learning & Embeddings ---
faiss-cpu==1.13.1
sentence-transformers==2.2.2
tiktoken==0.7.0

# --- PDF Processing ---
pypdf==6.4.2

# --- API Clients ---
openai==2.11.0
groq==0.37.1
requests==2.32.3

# --- Utilities ---
numpy>=1.26.4
fsspec==2025.12.0
