
# --- Core Frameworks ---
streamlit==1.49.1

# --- LangChain Core Packages ---
langchain==1.0.4
langchain-core==1.2.1     
langchain-community==0.4.1
langchain-classic==1.0.0


# --- Integrations ---
langchain-openai==1.0.2
langchain-groq==1.1.1
langchainhub==0.1.21

# --- Machine Learning & Embeddings ---
faiss-cpu==1.13.1


# --- PDF Processing ---
pypdf==6.4.2

# --- API Clients ---
openai==2.11.0
groq==0.37.1

